.bright-img {
    -webkit-filter: brightness(120%); /* Safari */
    filter: brightness(120%);
}
.brighter-img {
	-webkit-filter: brightness(150%);
	filter: brightness(150%);
}
.rotate-90 {
	-moz-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}
.image-tl img {
	top: 0 !important;
	left: 0 !important;
	width: 50% !important;
	height: 50% !important;
}

.image-tr img {
	top: 0 !important;
	left: 50% !important;
	width: 50% !important;
	height: 50% !important;
}

.image-bl img {
	top: 50% !important;
	left: 0 !important;
	width: 50% !important;
	height: 50% !important;
}

.image-br img {
	top: 50% !important;
	left: 50% !important;
	width: 50% !important;
	height: 50% !important;
}
.image-stretch {
	-moz-object-fit: cover;
	-webkit-object-fit: cover;
	-ms-object-fit: cover;
	object-fit: cover;
	-moz-object-position: top;
	-webkit-object-position: top;
	-ms-object-position: top;
	object-position: top;
	display: block;
	position: absolute;
	/*top: 0;
	left: 0;*/
	width: 20%;
	height: 100%;
	border-radius: 0;
}