<!DOCTYPE HTML>
<html>
	<head>
		<title>Villa - Costa Del Sol, For Sale</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/paul.css') }}" />
	</head>
	<body>

		<!-- Wrapper -->
		<div id="wrapper" class="divided">

			<!-- One -->
			<section class="banner style1 orient-left content-align-left image-position-right fullscreen onload-image-fade-in onload-content-fade-right">
				<div class="content">
					<h1>Villa on the Costa Del Sol, Spain - <i>For Sale</i></h1>
					<p class="major">A 4 bed, 3 bath villa with private gardens, access to pool, located near the coast.</p>
					<ul class="actions vertical">
						<li><a href="#first" class="button big wide smooth-scroll-middle">Find out more</a></li>
					</ul>
				</div>
				<div class="image">
					<img src="{{ url_for('static', filename='images/hs/EXT-1.jpg') }}" alt="" class="bright-img" />
				</div>
			</section>

				<!-- Two -->
			<section class="spotlight style1 orient-right content-align-left onscroll-image-fade-in image-position-center" id="first">
				<div class="content">
					<h2>Four double bedrooms - space for all the family</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id ante sed ex pharetra lacinia sit amet vel massa. Donec facilisis laoreet nulla eu bibendum. Donec ut ex risus. Fusce lorem lectus, pharetra pretium massa et, hendrerit vestibulum odio lorem ipsum dolor sit amet.</p>
					<ul class="actions vertical">
						<li><a href="#second" class="button big wide smooth-scroll-middle">Next</a></li>
					</ul>
				</div>
				<div class="image">
					<div class="image-tl">
						<img class="brighter-img" src="{{ url_for('static', filename='images/hs/IMG_7483.jpg') }}" alt="" />
					</div>
					<div class="image-tr">
						<img class="brighter-img" src="{{ url_for('static', filename='images/hs/IMG_7507.jpg') }}" alt="" />
					</div>
					<div class="image-bl">
						<img class="brighter-img" src="{{ url_for('static', filename='images/hs/IMG_7487.jpg') }}" alt="" />
					</div>
					<div class="image-br">
						<img class="bright-img" src="{{ url_for('static', filename='images/hs/IMG_7500.jpg') }}" alt="" />
					</div>
				</div>
			</section>

		<!-- Three -->
			<section class="spotlight style1 orient-left content-align-left image-position-center onscroll-image-fade-in" id="second">
				<div class="content">
					<h2>Private garden & two terraces</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id ante sed ex pharetra lacinia sit amet vel massa. Donec facilisis laoreet nulla eu bibendum. Donec ut ex risus. Fusce lorem lectus, pharetra pretium massa et, hendrerit vestibulum odio lorem ipsum dolor sit amet.</p>
					<ul class="actions vertical">
						<li><a href="#third" class="button big wide smooth-scroll-middle">Next</a></li>
					</ul>
				</div>
				<div class="image">
					<img class="image-stretch" src="{{ url_for('static', filename='images/hs/IMG_7492.jpg') }}" alt="" />
				</div>
			</section>

		<!-- Four -->
			<section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in" id="third">
				<div class="content">
					<h2>Located in the heart of the Costa Del Sol</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id ante sed ex pharetra lacinia sit amet vel massa. Donec facilisis laoreet nulla eu bibendum. Donec ut ex risus. Fusce lorem lectus, pharetra pretium massa et, hendrerit vestibulum odio lorem ipsum dolor sit amet.</p>
					<ul class="actions vertical">
						<li><a href="#fourth" class="button big wide smooth-scroll-middle">Next</a></li>
					</ul>
				</div>
				<div class="image">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1570.745454779266!2d-0.6840609553765992!3d38.05894699956557!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd63a953739b27df%3A0x24e6b83c72c4a50!2sAv.+el+Ras+Gran%2C+45%2C+03149+Guardamar+del+Segura%2C+Alicante%2C+Spain!5e0!3m2!1sen!2suk!4v1506856898611" frameborder="0" style="border:0" allowfullscreen></iframe>
				</div>
			</section>

			<!-- Five -->
			<section class="wrapper style1 align-center embolden" id="fourth">
				<div class="inner">
					<h2 class="bold">Now for sale - offers over €xxx,xxx</h2>
					<!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id ante sed ex pharetra lacinia sit amet vel massa. Donec facilisis laoreet nulla eu bibendum. Donec ut ex risus. Fusce lorem lectus, pharetra pretium massa et, hendrerit vestibulum odio lorem ipsum.</p> -->
				</div>

				<!-- Gallery -->
				<!-- <div class="gallery style2 medium lightbox onscroll-fade-in">
					<article>
						<a href="{{ url_for('static', filename='images/gallery/fulls/01.jpg') }}" class="image">
							<img src="{{ url_for('static', filename='images/gallery/thumbs/01.jpg') }}" alt="" />
						</a>
						<div class="caption">
							<h3>Ipsum Dolor</h3>
							<p>Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.</p>
							<ul class="actions">
								<li><span class="button small">Details</span></li>
							</ul>
						</div>
					</article>
					<article>
						<a href="{{ url_for('static', filename='images/gallery/fulls/02.jpg') }}" class="image">
							<img src="{{ url_for('static', filename='images/gallery/thumbs/02.jpg') }}" alt="" />
						</a>
						<div class="caption">
							<h3>Feugiat Lorem</h3>
							<p>Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.</p>
							<ul class="actions">
								<li><span class="button small">Details</span></li>
							</ul>
						</div>
					</article>
					<article>
						<a href="{{ url_for('static', filename='images/gallery/fulls/03.jpg') }}" class="image">
							<img src="{{ url_for('static', filename='images/gallery/thumbs/03.jpg') }}" alt="" />
						</a>
						<div class="caption">
							<h3>Magna Amet</h3>
							<p>Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.</p>
							<ul class="actions">
								<li><span class="button small">Details</span></li>
							</ul>
						</div>
					</article>
					<article>
						<a href="{{ url_for('static', filename='images/gallery/fulls/04.jpg') }}" class="image">
							<img src="{{ url_for('static', filename='images/gallery/thumbs/04.jpg') }}" alt="" />
						</a>
						<div class="caption">
							<h3>Sed Tempus</h3>
							<p>Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.</p>
							<ul class="actions">
								<li><span class="button small">Details</span></li>
							</ul>
						</div>
					</article>
					<article>
						<a href="{{ url_for('static', filename='images/gallery/fulls/05.jpg') }}" class="image">
							<img src="{{ url_for('static', filename='images/gallery/thumbs/05.jpg') }}" alt="" />
						</a>
						<div class="caption">
							<h3>Ultrices Magna</h3>
							<p>Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.</p>
							<ul class="actions">
								<li><span class="button small">Details</span></li>
							</ul>
						</div>
					</article>
					<article>
						<a href="{{ url_for('static', filename='images/gallery/fulls/06.jpg') }}" class="image">
							<img src="{{ url_for('static', filename='images/gallery/thumbs/06.jpg') }}" alt="" />
						</a>
						<div class="caption">
							<h3>Sed Tempus</h3>
							<p>Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.</p>
							<ul class="actions">
								<li><span class="button small">Details</span></li>
							</ul>
						</div>
					</article>
					<article>
						<a href="{{ url_for('static', filename='images/gallery/fulls/07.jpg') }}" class="image">
							<img src="{{ url_for('static', filename='images/gallery/thumbs/07.jpg') }}" alt="" />
						</a>
						<div class="caption">
							<h3>Ipsum Lorem</h3>
							<p>Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.</p>
							<ul class="actions">
								<li><span class="button small">Details</span></li>
							</ul>
						</div>
					</article>
					<article>
						<a href="{{ url_for('static', filename='images/gallery/fulls/08.jpg') }}" class="image">
							<img src="{{ url_for('static', filename='images/gallery/thumbs/08.jpg') }}" alt="" />
						</a>
						<div class="caption">
							<h3>Magna Risus</h3>
							<p>Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.</p>
							<ul class="actions">
								<li><span class="button small">Details</span></li>
							</ul>
						</div>
					</article>
					<article>
						<a href="{{ url_for('static', filename='images/gallery/fulls/09.jpg') }}" class="image">
							<img src="{{ url_for('static', filename='images/gallery/thumbs/09.jpg') }}" alt="" />
						</a>
						<div class="caption">
							<h3>Tempus Dolor</h3>
							<p>Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.</p>
							<ul class="actions">
								<li><span class="button small">Details</span></li>
							</ul>
						</div>
					</article>
					<article>
						<a href="{{ url_for('static', filename='images/gallery/fulls/10.jpg') }}" class="image">
							<img src="{{ url_for('static', filename='images/gallery/thumbs/10.jpg') }}" alt="" />
						</a>
						<div class="caption">
							<h3>Sed Etiam</h3>
							<p>Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.</p>
							<ul class="actions">
								<li><span class="button small">Details</span></li>
							</ul>
						</div>
					</article>
					<article>
						<a href="{{ url_for('static', filename='images/gallery/fulls/11.jpg') }}" class="image">
							<img src="{{ url_for('static', filename='images/gallery/thumbs/11.jpg') }}" alt="" />
						</a>
						<div class="caption">
							<h3>Magna Lorem</h3>
							<p>Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.</p>
							<ul class="actions">
								<li><span class="button small">Details</span></li>
							</ul>
						</div>
					</article>
					<article>
						<a href="{{ url_for('static', filename='images/gallery/fulls/12.jpg') }}" class="image">
							<img src="{{ url_for('static', filename='images/gallery/thumbs/12.jpg') }}" alt="" />
						</a>
						<div class="caption">
							<h3>Ipsum Dolor</h3>
							<p>Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.</p>
							<ul class="actions">
								<li><span class="button small">Details</span></li>
							</ul>
						</div>
					</article>
				</div>
 -->
			</section>

				<!-- Six -->
			<section class="wrapper style1 align-center">
				<div class="inner">
					<h2>Convenience Included.</h2>
					<p>The house and region has so much to offer ...</p>
					<div class="items style1 medium onscroll-fade-in">
						<section>
							<span class="icon style2 major fa-car"></span>
							<h3>Private driveway & interior garage</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
						</section>
						<section>
							<span class="icon style2 major fa-sun-o"></span>
							<h3>10 minute drive to beach</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
						</section>
						<section>
							<span class="icon style2 major fa-bath"></span>
							<h3>Three full bathrooms</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
						</section>
						<section>
							<span class="icon style2 major fa-cutlery"></span>
							<h3>Local restaurants just a few minutes walk</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
						</section>
						<section>
							
						</section>
						<section>
							
					</div>
				</div>
			</section>

				<!-- Seven -->
			<section class="wrapper style1 align-center">
				<div class="inner medium">
					<h2>Get in touch</h2>
					<form method="post" action="#">
						<div class="field half first">
							<label for="name">Name</label>
							<input type="text" name="name" id="name" value="" />
						</div>
						<div class="field half">
							<label for="email">Email</label>
							<input type="email" name="email" id="email" value="" />
						</div>
						<div class="field">
							<label for="message">Message</label>
							<textarea name="message" id="message" rows="6"></textarea>
						</div>
						<ul class="actions">
							<li><input type="submit" name="submit" id="submit" value="Send Message" /></li>
						</ul>
					</form>

				</div>
			</section>

				<!-- Footer -->
			<footer class="wrapper style1 align-center">
				<div class="inner">
					<!-- <ul class="icons">
						<li><a href="#" class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon style2 fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon style2 fa-linkedin"><span class="label">LinkedIn</span></a></li>
						<li><a href="#" class="icon style2 fa-envelope"><span class="label">Email</span></a></li>
					</ul> -->
					<p>&copy; Paul McLear, 2017</p>
				</div>
			</footer>

		</div>

		<!-- Scripts -->
		<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/jquery.scrollex.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/jquery.scrolly.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/skel.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/util.js') }}"></script>
		<script src="{{ url_for('static', filename='js/main.js') }}"></script>

	</body>
</html>